        <% @user.public_description = @user.description unless @user.public_description.present? %>
        <% @user.public_address     = @user.address     unless @user.public_address.present? %>
        <% @user.public_city        = @user.city        unless @user.public_city.present? %>
        <% @user.public_prov        = @user.prov        unless @user.public_prov.present? %>
        <div class="col-sm-12 mb-4">
            <h3>Modifica il tuo Profilo pubblico</h3>
            <div class="mt-2">
              <% if @user.auto_public_url.present? %>
              <em class="fa fa-globe-americas" data-toggle="tooltip" title="Profilo pubblico"></em> <a href="<%= account_public_url(@user.public_url) if (@user.public_url.present?) %>" target="_blank"><%= account_public_url(@user.public_url.present? ? @user.public_url : @user.auto_public_url) %></a>
              <% end %>
              
              <% if @user.public_url != @user.auto_public_url %>
              <a href="<%= account_public_info_changed_url %>" data-toggle="modal" data-target="#details-modal" data-widget="tooltip" data-title="Attenzione">
                <span class="text-warning"><em class="fa fa-exclamation-triangle"></em></span>
              </a>
              <% end %>
            </div>
        </div>

        <div class="col-sm-3"><!--left col-->
          <ul class="list-group">
            <li class="list-group-item text-right" style="padding: 0px;">
              <%= image_tag avatar_url(@user), style: "max-width: none; width: 100%;" %>
              <!-- Upload Button -->
              <div class="text-center">
                  <%= form_for :user, url: account_edit_url(@user), action: :update, method: :post do |f| %>
                  <div class="file">
                      <label for="" class="btn btn-default">
                          <%= f.file_field :profilepic, class: 'file-input', onchange: 'this.form.submit();' %>
                          <i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp; Aggiorna foto
                      </label>
                  </div>
                  <% end %>
              </div>              
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Membro da</strong></span> <%=@user.created_at.strftime('%b %Y')%></li>
            <li class="list-group-item text-right">
              <span class="pull-left"><strong>Stato Account</strong></span> 
              <% if @user.active || @user.is_admin? %>
                <span class="badge badge-success font-size-100" data-toggle="tooltip" data-placement="right" title="Attivo"><em class="fa fa-check"></em></span>                
              <% else %>
                <span class="badge badge-warning font-size-100" data-toggle="tooltip" data-placement="right" title="In attesa di verifica"><em class="fa fa-exclamation-triangle"></em></span>
              <% end %>
            </li>
          </ul>

          <div class="mb-4"></div>
               
        </div><!--/col-3-->

        <div class="col-sm-9"><!--right col-->
          <div class="tab-content">
            <%= render 'shared/help/public' %>

            <div class="tab-pane active" id="home">
                  <%= form_for :user, url: account_edit_url(@user), action: :update, method: :post do |f| %>
                      
                      <%= f.hidden_field :public_url, value: (@user.public_url? ? @user.public_url : @user.auto_public_url) %>

                      <div class="form-group">                         
                        <label for="first_name"><h5>Ragione Sociale<sup class="required">*</sup></h5></label>
                        <%= f.text_field  :public_ragionesociale, class: 'form-control input-lg', placeholder: 'Ragione Sociale', :required => true, value: (@user.public_ragionesociale? ? @user.public_ragionesociale : @user.ragionesociale) %>
                      </div>

                      <div class="form-group">                         
                        <label for="first_name"><h5>Indirizzo Operativo<sup class="required">*</sup></h5></label>
                        <%= f.text_field  :public_address, class: 'form-control input-lg', placeholder: 'Indirizzo Operativo', :required => true, value: (@user.public_ragionesociale? ? @user.public_address : @user.public_address) %>
                      </div>

                      <div class="form-group">                         

                      <div class="form-group"> 
                        <div class="input-group mb-3">
                          <div class="input-group-prepend" style="width: 50%">
                            <div>
                              <label for="first_name"><h5>Citt&agrave;<sup class="required">*</sup></h5></label>
                              <%= f.text_field  :public_city, class: 'form-control input-lg', placeholder: 'Città', :required => true, value: (@user.public_ragionesociale? ? @user.public_city : @user.public_city) %>
                            </div>
                          </div>

                          <div class="input-group-prepend" style="width: 50%">
                            <div class="ml-4">
                              <label for="phone"><h5>Provincia<sup class="required">*</sup></h5></label>
                              <%= f.select :public_prov, options_for_select(Province.all.collect {|u| [u.name, u.code]}, :selected => @user.public_prov), prompt: "Provincia...", required: "required" %>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">                       
                        <label for="first_name"><h5>Descrizione della tua attivit&agrave;<sup class="required">*</sup></h5></label>
                        <%= f.rich_text_area :public_description, rows: 60, cols: 50, class: 'form-control input-lg', placeholder: 'Inserisci la descrizione della tua attività', :required => true, value: @user.public_description %>
                      </div>

                      <div class="form-group">
                         <label for="mobile"><h5>Sito Web</h5></label>
                          <%= f.text_field  :public_website, class: 'form-control', placeholder: 'Sito Web', value: @user.public_website %>
                      </div>

                      <div class="form-group">
                         <label for="mobile"><h5>Telefono per contatti<sup class="required">*</sup></h5></label>
                          <%= f.text_field  :public_phone, class: 'form-control', placeholder: 'Telefono per contatti', value: @user.public_phone, required: "required", style: "width: 60%" %>
                      </div>

                      <div class="form-group">                          
                        <label for="email"><h5>Email<sup class="required">*</sup></h5></label>
                        <%= f.email_field  :public_email, class: 'form-control', placeholder: 'Indirizzo email', value: @user.public_email, required: "required" %>
                      </div>

                      <div class="form-group">                   
                        <label for="first_name"><h5>Informazioni aggiuntive</h5></label>
                        <small></small>
                        <%= f.rich_text_area :public_morestuff, rows: 60, cols: 50, class: 'form-control input-lg', placeholder: '', value: @user.public_morestuff %>
                      </div>

                      <div class="form-group">                   
                        <label for="first_name"><h5>Orari di apertura (opzionale)</h5></label>
                        <small></small>
                        <%= f.text_area :public_hours, class: 'form-control input-lg', placeholder: '', value: @user.public_hours %>
                      </div>

                      <h3 class="mb-2">Socials</h3>

                      <div class="form-group">                   
                        <label for="first_name"><h5>Indirizzo Pagina Facebook</h5></label>
                        <small></small>
                        <%= f.text_field :public_facebook, class: 'form-control input-lg', placeholder: '', value: @user.public_facebook %>
                      </div>

                      <div class="form-group">                   
                        <label for="first_name"><h5>Indirizzo Pagina Instagram</h5></label>
                        <small></small>
                        <%= f.text_field :public_instagram, class: 'form-control input-lg', placeholder: '', value: @user.public_instagram %>
                      </div>

                      <div class="form-group">                   
                        <label for="first_name"><h5>Indirizzo Profilo LinkedIn</h5></label>
                        <small></small>
                        <%= f.text_field :public_linkedin, class: 'form-control input-lg', placeholder: '', value: @user.public_linkedin %>
                      </div>

                      <div class="form-group">                   
                        <label for="first_name"><h5>Indirizzo Canale Youtube</h5></label>
                        <small></small>
                        <%= f.text_field :public_youtube, class: 'form-control input-lg', placeholder: '', value: @user.public_youtube %>
                      </div>

                      <div><sup class="required">*</sup> Campo obbligatorio</div>

                      <div class="form-group">
                           <div class="col-xs-12 text-right">
                                <br>
                                <a href="<%= account_url %>" class="btn btn-md btn-secondary" type="reset"><i class="glyphicon glyphicon-repeat"></i> Annulla modifiche</a>
                                <button class="btn btn-md btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Aggiorna Profilo</button>
                            </div>
                      </div>
                <% end %>
            
                <br>
              
             </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-6-->