<div class="col-sm-12 mb-4">
  <h3>Admin <em class="fa fa-angle-right"></em> Aggiungi Utente</h3>
</div>

<div class="col-sm-3"><!--left col-->
  
  <ul class="list-group">
    <li class="list-group-item text-right" style="padding: 0px;">
      <%= image_tag avatar_url(@user), style: "max-width: none; width: 100%;" %>
    </li>
  </ul>

  <div class="mb-4"></div>
</div><!--/col-3-->

<!-- center column -->
<div class="col-sm-5">
  <div class="tab-content">
    <div class="tab-pane active" id="home">
          <%= form_for :user, url: account_users_path, action: :create, method: :post do |f| %>

             <div class="form-group">                                                
                <label for="first_name"><h5>Nome e Cognome</h5></label>
                <%= f.text_field  :fullname, class: 'form-control input-lg', placeholder: 'Nome e Cognome', value: @user.fullname, required: "required" %>
              </div>

              <div class="form-group">
                <label for="email"><h5>Email</h5></label>
                <%= f.text_field  :email, class: 'form-control', placeholder: 'Indirizzo email', value: @user.email, required: "required" %>
              </div>

              <div class="form-group">
                <label for="first_name"><h5>Ragione Sociale</h5></label>
                <%= f.text_field  :ragionesociale, class: 'form-control input-lg', placeholder: 'Ragione Sociale', value: @user.ragionesociale, required: "required" %>
              </div>
              
              <div class="form-group">                                                
                <label for="first_name"><h5>Descrizione dell'attività</h5></label>
                <%= f.text_area :description, class: 'form-control input-lg', placeholder: 'Inserisci la descrizione della tua attività', value: @user.description %>
              </div>

              <div class="form-group">
               <label for="mobile"><h5>Cod Fiscale / Partita IVA</h5></label>
                <%= f.text_field  :vatcode, class: 'form-control', placeholder: 'Cod Fiscale / Partita IVA', value: @user.vatcode, required: "required", maxlength: "16" %>
              </div>

              <div class="form-group">
               <label for="mobile"><h5>Categoria Servizi</h5></label>
                <%= f.select(:category_id, options_for_select(@categories.map { |c| [c.title, c.id] }), :prompt => "Seleziona una categoria...") %>
              </div>

              <div class="form-group">
               <label for="mobile"><h5>Sottocategoria Servizi</h5></label>
                <%= f.select(:service_id, options_for_select(@services.map { |c| [c.title, c.id] }), :prompt => "Seleziona una sottocategoria...") %>
              </div>

              <div class="form-group">
                <label for="last_name"><h5>Indirizzo</h5></label>
                  <%= f.text_field  :address, class: 'form-control input-lg', placeholder: 'Indirizzo', value: @user.address %>
              </div>

              <div class="form-group"> 
                <div class="input-group mb-3">
                  <div class="input-group-prepend" style="width: 50%">
                    <div>
                      <label for="phone"><h5>Cap</h5></label>
                      <%= f.text_field  :cap, class: 'form-control', placeholder: 'CAP', :required => true, value: @user.cap %>
                    </div>
                  </div>

                  <div class="input-group-prepend" style="width: 50%">
                    <div class="ml-4">
                      <label for="phone"><h5>Provincia</h5></label>
                      <%= f.select :prov, options_for_select(Province.all.collect {|u| [u.name, u.code]}, :selected => @user.prov), prompt: "Provincia...", required: "required" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">                          
                <label for="phone"><h5>Citt&agrave;</h5></label>
                <%= f.text_field  :city, class: 'form-control input-lg', placeholder: 'Città', value: @user.city %>
              </div>
  
              <div class="form-group">
                     <label for="mobile"><h5>Telefono</h5></label>
                      <%= f.text_field  :phone, class: 'form-control', placeholder: 'Telefono', value: @user.phone %>
              </div>

              <div class="form-group">
                   <div class="col-xs-12 text-right">
                        <br>
                        <a href="<%= account_users_url %>" class="btn btn-md btn-secondary" type="reset"><i class="glyphicon glyphicon-repeat"></i> Torna alla lista</a>
                        <button class="btn btn-md btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Salva</button>
                    </div>
              </div>
        <% end %>
    
        <br>
      
     </div><!--/tab-pane-->
  </div><!--/tab-content-->
</div>
<!--/ center column-->

<!--right col-->
<div class="col-sm-4">

</div>
<!--//right col-->