<h5 class="mb-2">Documenti</h5>

<div class="row">
    <% @user.documents.order(:doctype).each do |document| %>
    <div class="col-12">
        <ul class="list-group documents">
            <li class="list-group-item mb-1 list-group-item-action d-flex justify-content-between align-items-center ">
                <span style="width: 75%;">
                    <%= link_to rails_blob_path(document.attachment, disposition: 'attachment'), target: "_blank" do %>
                    <small><%=document.name%></small>
                    <% end %>
                </span>
                
                <span style="width: 85px; text-align: right;">
                        <span id="status_<%=document.id%>" class="badge badge-info badge-pill bg-<%= ('success' if document.status == 'approvato') %><%= ('danger' if document.status == 'non_conforme') %><%= ('warning' if document.status == 'attesa_verifica') %> align-right"><small data-toggle="tooltip" title="<%= document.comments unless document.comments.nil? %>"><%= document.status.capitalize.gsub('_', ' ') %></small></span>
                </span>
                <span style="width: 185px; text-align: right;">
                    <div class="btn-group" role="group" aria-label="stati">
                        <%= form_for :document, url: account_document_reject_path(document), html: { class: "reject_document_form", data: { id: document.id } }, :remote => true, method: :post, class: "pull-left" do |f| %>
                            <%= hidden_field_tag 'notes', '', id: "notes_#{document.id}" %>
                            <%= f.button :submit, class: "btn btn-danger btn-sm ml-1 text-white" do %>
                                <em class="fa fa-times"></em>
                            <% end %>
                        <% end %>
                        <%= form_for :document, url: account_document_approve_path(document), :remote => true, method: :post, class: "pull-left" do |f| %>
                            <%= f.button :submit, class: "btn btn-success btn-sm ml-1 text-white" do %>
                                <em class="fa fa-check"></em>
                            <% end %>
                        <% end %>
                    </div>
                </span>
            </li>
        </ul>
    </div>
    <% end %>
</div>
<% if @user.docsuploaded %>
<div class="row">
    <div class="col-12 text-right mt-4">
        <div class="btn-group" role="group" aria-label="stati">

        <!-- Docs uploaded -->
        <%= form_for :user, url: account_user_path(@user), method: :patch, class: "pull-left" do |f| %>
            <%= f.hidden_field :docsuploaded, value: !@user.docsuploaded %>
            <%= f.button :submit, class: "btn btn-sm ml-1 text-white" + (@user.docsuploaded ? ' btn-warning' : ''), data: {  toggle: "tooltip", title: (@user.docsuploaded ? 'Respingi documenti' : 'Approva documenti') } do %>
                <em class="fab fa-stack-overflow"></em> Rifiuta/Richiedi documenti
            <% end %>
        <% end %> 

        <% unless @user.active %>
            <!-- Active -->
            <%= form_for :user, url: account_user_path(@user), method: :patch, class: "pull-left" do |f| %>
                <%= f.hidden_field :active, value: !@user.active %>
                <%= f.button :submit, class: "btn btn-sm ml-1" + (!@user.active ? ' btn-success' : 'btn-info'), data: {  toggle: "tooltip", title: (@user.active ? 'Disattiva utente' : 'Attiva utente') } do %>
                    <em class="fa fa-check-square"></em> Attiva Utenza
                <% end %>
            <% end %>
        <% end %>
        </div>
    </div>
</div>
<% end %>
<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();

    $('.reject_document_form').submit(function(e) {
        var note = prompt('Qual è il motivo per cui il documento non è conforme? (verrà comunicato all\'utente)');
        var id = e.currentTarget.dataset['id'];
        $('#notes_'+id).val(note);
        this.submit;
    });
</script>