<div class="row mt-4">
  <div class="col-12">
    <div class="list-group" id="list-tab" role="tablist">
		<%= form_for :service, url: settings_services_url, :remote => true, :method => :post do |f| %>
		<div class="input-group mb-3">
		  <%= f.text_field :title, class: "form-control", placeholder: "Nuovo Servizio",  :aria => { describedby: "basic-addon2"}  %>
		  <div class="input-group-append">
		    <span class="input-group-text" id="basic-addon2">
				<%= f.button :submit, class: "btn btn-primary btn-sm" do %>		    	
		    		<em class="fa fa-plus-square"></em>
		    	<% end %>
		    </span>
		  </div>
		</div>
	    <% end %>
    </div>
  </div>

  <div class="col-12">
    <div class="list-group" id="list-tab" role="tablist">
		<ul class="list-group" id="services_list" style="border: 1px solid #ddd; min-height: 60px; padding: 2px;">
        <% @services.each do | c | %>
			
			<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="<%= c.id %>">
      			<%= c.title %>
			    <span class="badge badge-pill">
					<div class="btn-group" role="group" aria-label="Azioni">
						<span class="btn btn-primary btn-sm" data-id="<%= c.id%>"  data-context="service" data-toggle="modal" data-target="#confirmation-modal"><em class="fa fa-trash"></em></span>
					</div>
					<div style="display: none;" id="modal_buttons_service_<%=c.id%>">
		              <button type="button" data-dismiss="modal" class="swal2-cancel swal2-styled" aria-label="" style="display: inline-block; background-color: rgb(221, 221, 221);">Annulla</button>
		              <%= link_to settings_service_path(c.id), :method => :delete, class: "swal2-confirm swal2-styled", style: "display: inline-block; background-color: rgb(48, 133, 214);", data: { dismiss: "modal" } do |f| %>
		                Conferma
		              <% end %>
					</div>
			    </span>
		    </li>
      <% end %>
    </div>
  </div>
</div>