<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-12 mb-4">
            <h2>Impostazioni</h2>
        </div>
    </div>
    <div class="row">    

        <!-- #1 -->
        <div class="col-lg-3 col-md-6 mt-lg-3 mt-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header text-center">
                <h5 class="mb-2"><%= link_to 'Categorie', settings_categories_path %></h5>
            </div>
            <%= link_to settings_categories_path do %>
            <img src="<%= image_url("gears.jpg") %>" class="card-img-top" />
            <%end %>
          </div>
        </div>

        <!-- #3 -->
        <div class="col-lg-3 col-md-6 mt-lg-3 mt-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header text-center">
                <h5 class="mb-2">Pagine</h5>
            </div>
            <img src="<%= image_url("gears.jpg") %>" class="card-img-top" />
          </div>
        </div>

        <!-- #4 -->
        <div class="col-lg-3 col-md-6 mt-lg-3 mt-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header text-center">
                <h5 class="mb-2">Contatti</h5>
            </div>
            <img src="<%= image_url("gears.jpg") %>" class="card-img-top" />
          </div>
        </div>

        <!-- #2 -->
        <div class="col-lg-3 col-md-6 mt-lg-3 mt-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header text-center">
                <h5 class="mb-2"><%= link_to 'Configurazioni', settings_siteinfos_path %></h5>
            </div>
            <%= link_to settings_siteinfos_path do %>            
            <img src="<%= image_url("gears.jpg") %>" class="card-img-top" />
            <% end %>
          </div>
        </div>

    </div>
</div>