<div class="container">
    <!-- page -->
    <div class="container-page py-lg-5 py-3">
        <div class="layer-stretch">            
            <div class="layer-wrapper pb-4 pl-2 pr-2">
                
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="mb20 capitalize" id="pagetitle">
                            Frequently Asked Questions
                        </h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 page-contents">

<h5 id="che-cose-avq-services">CHE COS’E' <%=siteinfo['site_company_name'].value.upcase %>?</h5>

  <p><%=siteinfo['site_company_name'].value %> &egrave; un portale che ti permette di ricercare e prenotare servizi professionali di diverse tipologie. <br />Potrai trovare <strong>servizi di professionisti attentamente selezionati</strong> per i loro ottimi feedback e per la loro efficienza ed affidabilità.</p>

<h5 id="come-funziona-il-portale">COME FUNZIONA IL PORTALE?</h5>

  <p>L'utilizzo &egrave; semplice ed immediato: ti basta selezionare la categoria ed il servizio di interesse, quindi compilando il form con i tuoi dati ci invierai subito la tua richiesta.</p>

<h5 id="che-cosa-succede-dopo-che-ho-inviato-la-mia-richiesta">CHE COSA SUCCEDE DOPO CHE HO INVIATO LA MIA RICHIESTA?</h5>

  <p>La tua richiesta verr&agrave; gestita nell'immediato e ti verr&agrave; assegnato il professionista piu&ugrave; idoneo alle tue esigenze nella tua CITTA'. <br />
  Il professionista agir&agrave; in autonomia tramite contatto/appuntamento, presa visione, preventivazione, lavorazione e fatturazione finale, il tutto monitorato da noi per la tua tranquillita’.</p>

<h5 id="quali-sono-i-vantaggi">QUALI SONO I VANTAGGI?</h5>

  <p>Avrai a disposizione, nel breve, professionisti attentamente selezionati: e’ un vantaggio notevole che ti evita di vivere la brutta esperienza di rivolgerti a qualcuno che non conosci e che non sai come opera.</p>

  <p>Inoltre comodamente dal tuo pc/tablet o smartphone gestisci la tua richiesta, al resto pensa AVQ, oltre a velocizzare le tempistiche in caso di urgenze, ti mettiamo a disposizione sconti e promozioni speciali riservati solo a te.</p>

<h5 id="perche-dovrei-scegliere-avq-services">PERCHE DOVREI SCEGLIERE <%=siteinfo['site_company_name'].value.upcase %>?</h5>

  <p>Hai la garanzia della qualità e professionalità dei nostri Partners perch&egrave; monitoriamo il loro lavoro.</p>

<h5 id="quali-servizi-puoi-trovare-sul-nostro-portale">QUALI SERVIZI PUOI TROVARE SUL NOSTRO PORTALE?</h5>

  <p>Sul nostro portale troverai servizi dedicati per:</p>

  <ol>
    <li>Casa / Ufficio</li>
    <li>Wellness</li>
    <li>Salute (medici , infermieri, fisioterapisti, dentisti ecc)</li>
    <li>Consulenza</li>
    <li>Automotive</li>
    <li>Tempo Libero</li>
    <li>Aziende</li>
  </ol>

<h5 id="come-posso-diventare-partner-avq-">COME POSSO DIVENTARE PARTNER AVQ ?</h5>

  <p>Per diventare nostro <strong>Partner</strong> e’ necessario contattarci compilando il form in homepage oppure scrivendoci a <strong><%=siteinfo['site_email'].value %></strong>, e comunicandoci:</p>

  <ul>
    <li>Ragione sociale</li>
    <li>Partita IVA</li>
    <li>Dati anagrafici del titolare e/o soci</li>
    <li>Settore in cui desideri operare</li>
    <li>Una visura camerale aggiornata</li>
  </ul>

  <p>Successivamente, un nostro commerciale vi contatter&agrave;  per fare una valutazione pi&ugrave; approfondita e qualora vi siano le condizioni vi verr&agrave; proposto un regolare contratto di partnership.</p>

  <p>Vi sar&agrave; assegnata un'utenza, secondo la vostra area geografica, e verrete inseriti all'interno del nostro network di professionisti.</p>

<h5 id="posso-lasciare-un-feedback-dopo-aver-usufruito-di-un-servizio">POSSO LASCIARE UN FEEDBACK DOPO AVER USUFRUITO DI UN SERVIZIO?</h5>

  <p><strong>Assolutamente s&igrave;!</strong> Avq desidera ricevere feedback dai propri utenti che hanno provato i servizi dei nostri partner. Questa tua azione ci aiuter&agrave; a migliorare i nostri servizi ed a consigliare o meno un professionista ad altri utenti.</p>

<h5 id="quando-posso-lasciare-un-feedback">QUANDO POSSO LASCIARE UN FEEDBACK?</h5>

  <p>Puoi lasciare un feedback se hai gia usufruito di un servizio tramite il nostro portale e ti sei rivolto ad uno dei nostri partner.</p>

  <p>Questo puo’ servire ai partner per migliorare e a noi per fare un ulteriore selezione nel tempo e proseguire o meno un rapporto di partnership o cambiarlo.</p>

  <p>AVQ desidera il meglio per i propri utenti, lasciando quindi un feedback ci sosterrai e ci aiuterai a migliorare e ad elevare ulteriormente il nostro livello e le nostre performance.</p>

<h5 id="cosa-devo-fare-se-ho-un-reclamo-nei-confronti-del-professionista-o-il-lavoro-svolto-non-e-soddisfacente">COSA DEVO FARE SE HO UN RECLAMO NEI CONFRONTI DEL PROFESSIONISTA O IL LAVORO SVOLTO NON E’ SODDISFACENTE?</h5>

  <p>Comunicandoci la motivazione e l'insoddisfazione, AVQ effettuer&agrave; delle verifiche con il professionista ed eventualmente, prender&agrave; provvedimenti sul proseguimento futuro della collaborazione.</p>

  <p>AVQ non interviene nel rapporto tra cliente e professionista e non ha resposabilità sull'operato dello stesso.</p>

  <p>Il professionista lavora in autonomia quindi in caso di sua inadempienza o irregolarit&agrave;  sar&agrave; direttamente responsabile, sia economicamente sia legalmente.</p>


                    </div>
                </div>

                <h5 class="text-center mt-4">
                  Per qualsiasi altra esigenza, non esitare a <strong><a href="<%= page_show_url(slug: 'contatti') %>" class="color-primary">Contattarci</a></strong>
                </h5>

            </div>
        </div>
    </div>

    <!-- //page -->
</div>