
      <div class="col-md-12 page-contents">
        
        <h5 id="i-premessa">I.  Premessa</h5>

        <p>In questa sezione &egrave; riportata l'Informativa Privacy per l'utilizzo dei servizi offerti dalla <%= siteinfo['site_company_name'].value %>, con sede in Corso Trapani n. 136 – 10138 Torino, P.IVA 10957160012, attraverso il portale web www.avqservizi.it</p>

        <p>La presente Informativa sulla Privacy chiarisce le finalità della raccolta e dell’utilizzo dei dati personali richiesti agli Utenti che desiderano avvalersi del servizio offerto da www.avqservizi.it.</p>

        <p>I dati saranno trattati nel rispetto delle disposizioni di cui all’articolo 13 del Decreto Legislativo 196/2003 e ai fini dell’art. 13 del Regolamento UE n. 2016/679, che prevede la tutela delle persone e di altri soggetti rispetto al trattamento dei dati personali. Secondo la normativa indicata, tale trattamento sarà improntato ai principi di correttezza, liceità e trasparenza e di tutela della Sua riservatezza e dei Suoi diritti.</p>

        <p>I servizi offerti attraverso il sito web/App mobile vengono forniti da liberi professionisti (nel seguito chiamati “Fornitori”) che scelgono autonomamente i lavori da accettare e svolgere.</p>

        <h5 id="ii-trattamento-dei-dati">II.  Trattamento dei dati</h5>

        <p><strong>Titolare e responsabile del trattamento dei dati</strong></p>

        <p>Il titolare  e il responsabile del trattamento dei dati relativi al sito www.avqservizi.it è <%= siteinfo['site_company_name'].value %> e per ogni chiarimento o esercizio dei diritti dell’utente può essere contattato all’indirizzo mail: <strong><%= siteinfo['site_email'].value %></strong></p>

        <p><strong>Finalità del trattamento dei dati</strong></p>

        <p><%= siteinfo['site_company_name'].value %>, per consentire la definizione di un accordo tra Cliente e Professionista, raccoglie attraverso il suo portale alcune informazioni relative all’identità del cliente, ai suoi dati di contatto, alla tipologia del servizio, al luogo presso il quale desidera che venga erogato e al momento in cui desidera venga effettuato. Il conferimento dei dati è obbligatorio ai fini di consentire le attività di cui sopra. L’eventuale rifiuto di fornire tali dati comporta la mancata prosecuzione del rapporto. <%= siteinfo['site_company_name'].value %> sarà titolare e responsabile del trattamento di tali dati. Alcuni dei dati raccolti saranno processati e comunicati ai Professionisti per consentire loro di decidere se accettare o meno una richiesta di incarico.</p>

        <p><strong>Dati trattati</strong></p>

        <p>I dati che saranno raccolti ed elaborati da <%= siteinfo['site_company_name'].value %> per la costituzione del profilo privato del Cliente sono i seguenti: nome, cognome, codice fiscale (ragione sociale e partita IVA in caso di aziende), dati relativi all’abitazione presso cui prestare il servizio (via, numero, località, cap, provincia, citofono, piano, scala), cellulare, e-mail, tipologia di servizio prenotato ed eventuali specifiche ad esso relative, orario e fascia temporale desiderata.</p>

        <h5 id="iii-cookies">III. Cookies</h5>

        <p><strong>Definizione di cookies.</strong></p>

        <p>Il portale www.avqservizi.it utilizza cookies per rendere l’esperienza di navigazione dell’utente più facile ed intuitiva: i cookies sono piccole stringhe di testo utilizzate per memorizzare alcune informazioni che possono riguardare l’utente, le sue preferenze o il dispositivo di accesso ad internet (computer, tablet o cellulare) e vengono usate principalmente per adeguare il funzionamento del sito alle aspettative dell’utente, offrendo un’esperienza di navigazione più personalizzata e memorizzando le scelte effettuate in precedenza.</p>

        <p>Un cookie consiste in un ridotto insieme di dati trasferiti al browser dell’utente da un server web e può essere letto unicamente dal server che ha effettuato il trasferimento. Non si tratta di codice eseguibile e non trasmette virus.</p>

        <p>I cookies non registrano alcuna informazione personale e gli eventuali dati identificabili non verranno memorizzati. Se si desidera, è possibile impedire il salvataggio di alcuni o tutti i cookies. Tuttavia, in questo caso l’utilizzo del sito e dei servizi offerti potrebbe risultarne compromesso. Per procedere senza modificare le opzioni relative ai cookies è sufficiente continuare con la navigazione.</p>

        <p><strong>Cookies tecnici</strong>
        I Cookies tecnici sono quelli utilizzati dal titolare di un sito al solo fine di effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura strettamente necessaria al fornitore di un servizio della società dell’informazione esplicitamente richiesto dall’abbonato o dall’Utente a erogare tale servizio. Per l’installazione di tali Cookie non è richiesto il preventivo consenso degli Utenti laddove utilizzati direttamente dal gestore del sito.</p>

        <p><strong>Cookies di profilazione</strong>
        I Cookie di profilazione sono volti a creare profili all’utente e vengono utilizzati al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell’ambito della navigazione in rete. Quando si utilizzeranno questi tipi di COOKIES l’utente dovrà dare un consenso esplicito. Si applicherà l’articolo 22 del Regolamento UE 2016/679 e l’articolo 122 del Codice in materia di protezione dei dati.</p>

        <p><strong>Cookies di terze parti</strong>
        In relazione alla provenienza si distinguono i cookies inviati al browser direttamente dal sito che si sta visitando e quelli di terze parti inviati al computer dati altri siti e non da quello che si sta visitando I cookies permanenti sono spesso cookies di terze parti.</p>

        <p>La maggior parte dei cookies di terze parti è costituita da cookies di tracciamento usati per individuare il comportamento online, capire gli interessi e quindi personalizzare le proposte pubblicitarie per gli utenti. Potranno essere installati cookies di terze parti analitici. Essi sono inviati da domini di predette terze parti esterni al sito.</p>

        <p>I cookies analitici di terze parti sono impiegati per rilevare informazioni soul comportamento degli utenti su www.avqservizi.it. La rilevazione avviene in forma anonima, al fine di monitorare le prestazioni e migliorare l’usabilità del sito.</p>

        <p>I cookies di profilazione di terze parti sono utilizzati per creare profili relativi agli utenti su www.avqservizi.it, al fine di proporre messaggi pubblicitari in linea con le scelte manifestate degli utenti medesimi. L’utilizzo di questi cookies è disciplinato dalle regole predisposte dalle terze parti medesime. Pertanto, si invitano gli utenti a prendere visione delle informative privacy e delle indicazioni per gestire o disabilitare i cookies pubblicate nelle relative pagine web.</p>

        <p><strong>Utilizzo dei cookie da parte del portale</strong></p>

        <p>Il titolare <%= siteinfo['site_company_name'].value %> fornisce all’Utente tutte le informazioni sui Cookies installati sul suo portale. Il portale integra, all’interno delle proprie pagine, servizi di terze parti che potrebbero impostare e utilizzare propri cookie e/o tecnologie similari.</p>

        <p>L’impiego di tali cookie e tecnologie similari da parte di tali aziende è regolato dalle informative sulla privacy di dette società e non dalla presente informativa essendo <%= siteinfo['site_company_name'].value %> totalmente estraneo alla gestione di tali strumenti ed al trattamento dei dati da questi derivanti.  Alcuni dei servizi elencati di seguito in base alla funzionalità offerta agli Utenti, incentrati sull’uso di Cookies di terze parti, potrebbero non richiedere il consenso dell’Utente.</p>

        <p>Tali terzi, inoltre, potrebbero – in aggiunta a quanto specificato nella presente policy ed anche all’insaputa del Titolare – compiere ulteriori attività di tracciamento dell’Utente. Per informazioni dettagliate in merito, si consiglia di consultare le rispettive privacy policy dei servizi elencati, nella quale l’Utente potrà ricevere le informazioni sul relativo trattamento ed esprimere il suo consenso al riguardo.  Il Titolare fa presente che in merito ai Cookie di terze parti, lo stesso ha unicamente l’obbligo di inserire nella presente Cookie policy il link al sito della terza parte. E’ a carico di tale soggetto, invece, l’obbligo di rendere una idonea informativa in merito al trattamento effettuato nonché fornire informazioni agli Utenti sulle modalità per l’eventuale blocco dei Cookie utilizzati.</p>

        <p><strong>Come controllare l’installazione di cookies</strong>
        In aggiunta a quanto indicato in questo documento, l’Utente può gestire le preferenze relative ai Cookie direttamente all’interno del proprio browser ed impedire – ad esempio – che terze parti possano installarne. Tramite le preferenze del browser è inoltre possibile eliminare i Cookie installati in passato, incluso il Cookie in cui venga eventualmente salvato il consenso all’installazione di Cookie da parte di questo sito.</p>

        <p>È importante notare che disabilitando tutti i Cookie, il funzionamento di questo sito potrebbe essere compromesso.</p>

        <p>In caso di servizi erogati da terze parti, l’Utente può inoltre esercitare il proprio diritto ad opporsi al tracciamento informandosi tramite la privacy policy della terza parte o contattando direttamente la stessa.  Fermo restando quanto precede, il Titolare informa che l’Utente può avvalersi di Your Online Choices. Attraverso tale servizio è possibile gestire le preferenze di tracciamento della maggior parte degli strumenti pubblicitari. Il Titolare, pertanto, consiglia agli Utenti di utilizzare tale risorsa in aggiunta alle informazioni fornite dal presente documento.</p>

        <h5 id="iv-plugin-social-network">IV. Plugin Social Network</h5>

        <p>Il portale www.avqservizi.it incorpora anche plugin e/o bottoni per i social network, al fine di consentire una facile condivisione dei contenuti sui vostri social network preferiti. Tali plugin sono programmati in modo da non impostare alcun cookie all’accesso della pagina per salvaguardare la privacy degli utenti. Eventualmente i cookies vengono impostati, se così previsto dai social network solo quando l’utente fa effettivo e volontario uso del plugin. Si tenga presente che se l’utente naviga essendo loggato nel social network allora ha già acconsentito all’uso dei cookies veicolati tramite questo sito al momento dell’iscrizione al social network.</p>

        <p>La raccolta e l’uso delle informazioni ottenute a mezzo del plugin sono regolati dalle rispettive informative privacy dei social network, alle quali si prega di fare riferimento:</p>

        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Google +</li>
          <li>Instagram</li>
        </ul>

        <p><strong>Diritti dell’utente</strong></p>

        <p>L’art. 13 co. 2 del Regolamento UE del 2016/679 elenca i diritti dell’utente. <%= siteinfo['site_company_name'].value %> intende, pertanto, informare l’utente sull’esistenza:</p>

        <ul>
          <li>del diritto dell’interessato di chiedere al titolare l’accesso ai dati personali (art. 15 Regolamento UE), il loro aggiornamento (art. 7, co. 3, lett. a del D.lgs 196/2003), la rettifica (art. 16 Regolamento UE), l’integrazione (art. 7, co. 3 lett. a D.lgs 196/2003), la limitazione del trattamento che lo riguardino (art. 18 Regolamento UE) o di opporsi, per motivi legittimi, al loro trattamento (art. 21 Regolamento UE), oltre al diritto alla portabilità dei dati (art. 20 Regolamento UE);</li>
          <li>del diritto di chiedere la cancellazione (art. 17 Regolamento UE), la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati (art. 7 co. 3, lett. b del D.lgs. 196/2003);</li>
          <li>del diritto di ottenere l’attestazione che le operazioni di aggiornamento, rettificazione, integrazione dei dati, cancellazione, blocco dei dati, trasformazione, sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato (art. 7 co. 3, lett. c del D.lgs 196/2003).</li>
        </ul>

        <p>Le richieste possono essere indirizzate al titolare del trattamento all’indirizzo mail <strong><%= siteinfo['site_email'].value %></strong> oppure utilizzando il modello previsto dal Garante per la protezione dei dati personali.</p>

        <p><strong>Sicurezza dei dati trattati</strong></p>

        <p>Il portale web www.avqservizi.it tratta i dati degli utenti in maniera lecita e corretta, adottando le opportune misure di sicurezza volte ad impedire accessi non autorizzati, divulgazione, modifica o distruzione non autorizzata dei dati. Il trattamento viene effettuato mediante strumenti informatici e/o telematici, con modalità organizzative e con logiche strettamente correlate alle finalità indicate.
        Oltre al titolare, in alcuni casi, potrebbero avere accesso ai dati categorie di incaricati coinvolti nell’organizzazione del sito o soggetti esterni.</p>

        <p><strong>Modifiche al documento</strong></p>

        <ol>
          <li>Il presente documento, pubblicato sul portale web www.avqservizi.it costituisce la privacy policy di questo sito. Esso può essere soggetto a modifiche o aggiornamenti. Qualora si tratti di modifiche e aggiornamenti rilevanti questi saranno segnalati con apposite notifiche agli utenti. Le versioni precedenti del documento saranno comunque consultabili in questa pagina.</li>
        </ol>

      </div>